<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <context-param>
     <param-name>UPLOAD</param-name>
     <param-value>c:/assignment/</param-value>
  </context-param>
  <context-param>
     <param-name>QUESTION</param-name>
     <param-value>c:/facultyquestions/</param-value>
  </context-param>
   <context-param>
     <param-name>CHECK</param-name>
     <param-value>c:/checkassignment/</param-value>
  </context-param>
  <welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>